{% extends 'layout.html' %}

{% block content %}
<!-- email, password를 입력받아 /auth/login 으로 POST 요청-->
<form id="login-form" action="/auth/login" method="post">
    
    <div class="input-group">
        <label for="email">이메일</label>
        <input id="email" type="email" name="email" required autofocus>
    </div>
    <div class="input-group">
        <label for="password">비밀번호</label>
        <input id="password" type="password" name="password" required>
    </div>
    <div class="login-join-container">
    <button id="login" type="submit" class="btn">로그인</button>
    <a id="join" href="/join" class="btn">회원가입</a>
    </div>
</form>
{% endblock %}
